name: Auto Commit
on:
  workflow_dispatch:
  schedule:
    - cron: '3 1 13 1 *'
    - cron: '12 9 13 1 *'
    - cron: '41 16 13 1 *'
    - cron: '42 0 14 1 *'

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Set Git Identity
        run: |
          git config --global user.name "Jain Divyam Arvindkumar"
          git config --global user.email "jaindivyam200@gmail.com"

      - name: Create Single Change
        run: |
          node ./auto_commit_script.js
          git add .
          git commit -m "Auto commit [$(date -u)]"
          git push